@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
  font-family: 'AvaraBold', Arial, Helvetica, sans-serif;
  
}
a{
  text-decoration: none;
  color: rgb(221, 167, 17);
  transition: 250ms;
}
a:hover{
  font-size: 1.1em;
}
.img_section{
  width: max(40vw, 50%);
  height: 100%;
  background-image: url(../assets/aaron-cook-4XJK9eIsvNU-unsplash\ \(1\).jpg);
  background-size: 1000px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img_txt{
  /* margin: auto; */
  margin-top: auto;
  height: 20%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #00000085;
  color: white;
}
.img_section p, .img_section a{
  color: white;
  text-shadow: 1px 2px #465f1f;
  margin-bottom: 20px;
  margin-top: auto;
  text-align: center;
}
h1{
  font-family: "Madimi One", sans-serif;
}
ul{
  list-style: none;
}
ul li{
  width: 35%;
  padding: 10px 0;
}
.error_msg{
  padding: 0;
  font-size: 0.8em;
  color: red;
}
h3{
  padding: 10px 3vw;
  max-width: 750px;
}
.form_section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke
}
.main_form{
  margin: 3% 0;
  padding: 4%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 4px #ccc;
}
.main_form h3{padding: 10px 0}
.form_container ul{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
label{
  display:flex;
  width: 200px;
  text-align: right;
}
input{
  min-width: 200px;
  height: 30px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus{
  outline: none;
  border: 2px solid orange;
  box-shadow: 1px 1px 5px black;
}
button{
  font-size: 1.1em;
  width:200px;
  height: 40px;
  margin: 1em 3vw;
  border-radius: 5px;
  border: 1px solid ;
  background-color: rgb(221, 167, 17);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 250ms;
}
button:hover{
  scale: 1.05;
}
button:disabled{
  background-color: grey;
  cursor:default;
}
button:disabled:hover{
  scale: 1;
}
.form_section p{
  margin-left: 3vw;
}
.error{
  outline: none;
  border: 1px solid red;
  /* box-shadow: 1px 1px 5px red; */
}